# Python
__pycache__/
*.py[cod]
*.class
venv/
env/
.venv/
db.sqlite3
*.log
.DS_Store
.vscode/
.idea/
*.pyc
*.mo
*.po
*.pot

# Environment
.env

# pytest
.pytest_cache/

# Build
*.egg-info/
dist/
build/
staticfiles/

# Vendored static assets
static/libs/
static/Vazirmatn-Regular.woff2

# Logs
logs/
