{% extends 'services/base.html' %}

{% block title %}ورود | آگاه‌یار{% endblock %}

{% block content %}

<div class="login-container">
 <h2> ورود به آگاه‌یار</h2>

 {% if form.errors %}
 <div class="error-message">
 نام کاربری یا رمز عبور اشتباه است.
 </div>
 {% endif %}

 <form method="post">
 {% csrf_token %}
 <div class="form-group">
 <label>نام کاربری</label>
  <input type="text" name="username" placeholder="نام کاربری خود را وارد کنید" class="ltr-input" dir="ltr" required>
  </div>
  <div class="form-group">
  <label>رمز عبور</label>
  <input type="password" name="password" placeholder="رمز عبور خود را وارد کنید" class="ltr-input" dir="ltr" required>
 </div>

 <button type="submit" class="btn-login"> ورود</button>
 </form>

 <div class="register-link">
 <a href="{% url 'register' %}">ثبت‌نام جدید</a>
 </div>
 <div class="forgot-password">
 <a href="{% url 'password_reset' %}" class="muted-link">
 رمز عبور را فراموش کردید؟
 </a>
 </div>
</div>
{% endblock %}